.buttons {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    align-items: center;
}
.buttons-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.card_hover {
    transition: transform 0.3s, box-shadow 0.3s;
}
.card_hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}